<h1>Editing settings model</h1>

<%= render "form", settings_model: @settings_model %>

<br>

<div>
  <%= link_to "Show this settings model", @settings_model %> |
  <%= link_to "Back to settings models", settings_models_path %>
</div>
